.git
.github
.gitignore
.gitattributes
README.md
REPORT.md
CREDITS.md
NOTICE.md
SECURITY_EXCEPTIONS.md
docs/
scripts/
.brakeman.ignore
.semgrepignore
.trivyignore
.secrets.baseline
.pre-commit-config.yaml
.hadolint.yaml
log/*
tmp/*
storage/*
node_modules/
coverage/
*.md
db/*.sqlite3
db/*.sqlite3-journal
